.bg-wrap{
  height: 100vh;
}
.button-wrap{
  display: flex;
  align-items: center;
  background: #fff;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%);
  border-radius: 30px;  
}
.button-wrap button{
  padding: 10px 30px;
  font-weight: 500px;
  border-radius: 20px;
  font-size: 18px;
  margin: 10px 20px;
  border: 0;
  color: #fff;
}